// TODO: use style-guide
$white: #f8f9fa;
$bold: bold;
$outline-color: #4991da;

.container {
  align-items: flex-start;
  background: #343a40;
  border: 1px solid $white;
  border-radius: 8px;
  box-shadow: 0 4px 1px rgba(20, 20, 20, 0.5);
  box-sizing: border-box;
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 16px;
  padding: 12px 16px;
  width: 100%;

  &:hover {
    box-shadow: 0 0 0 2px $outline-color;
    outline-color: $outline-color;
  }

  .title {
    font-weight: $bold;
    margin: 0 0 10px;
  }
}

.input {
  background: #f8f9fa;
  border: 2px solid #272727;
  border-radius: 4px;
  box-sizing: border-box;
  height: 40px;
  width: 100%;

  &:focus {
    box-shadow: 0 0 0 2px $outline-color;
    outline-color: $outline-color;
  }
}
