@use '../../../scss/colors' as c;
@use '../../../scss/fonts';

.container {
  background-color: c.$secondary-60;
  border-radius: 8px;
  box-shadow: 0 4px 1px rgba(20, 20, 20, 0.5);
  box-sizing: border-box;
  color: c.$neutral-10;
  font-family: 'Work Sans', sans-serif;
  margin: 20px 0;
  padding: 12px 37px;
  text-align: center;
  width: 100%;

  h2 {
    margin: 0;
  }

  p {
    margin-bottom: 20px;
  }
}
