.form {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;

  .categories {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;

    button {
      margin: 0;
    }
  }

  .edit-btn {
    background-color: transparent;
    margin: 20px auto;
  }
}
