@use '../../../scss/colors' as c;
@use '../../../scss/typography-movile' as f;

$box-shadow: 0 1px 1px c.$neutral-10;
$box-shadow-active: 0 3px 1px c.$neutral-10;
$label-padding: 1rem;
$margin-top: 3px;

.toogle-buttoms {
  align-items: center;
  background-color: c.$neutral-90;
  box-shadow: $box-shadow;
  color: c.$neutral-10;
  display: inline-flex;
  font-size: f.$medium-bold-button-size;
  font-weight: f.$medium-bold-button-weight;
  margin: -11px -16px 8px;
  text-align: center;
  width: calc(100% + 32px);
}

.radio-input {
  display: none;
}

.radio-label {
  cursor: pointer;
  padding: $label-padding;
  width: 100%;
}

.active {
  background-color: c.$neutral-90;
  box-shadow: $box-shadow-active;
}
