$bg-color: #1f4459;
$white: #f8f9fa;

.container {
  background-color: $bg-color;
  border-radius: 8px;
  box-shadow: 0 4px 1px rgba(20, 20, 20, 0.5);
  color: $white;
  margin-top: 20px;
  padding: 12px 37px;
  text-align: center;

  h2 {
    margin: 0 0 20px;
  }
}

.divider {
  margin: 12px 0;
}

.endmethod {
  padding: 12px 4px;
}

.categoriescontainer {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
  padding: 16px 48px;
}

.editbutton {
  background-color: $bg-color;
  box-shadow: 0 0;
}
