@use '../../../scss/colors' as c;

$border-radius: 4px;
$box-shadow: 0 4px 1px rgba(20, 20, 20, 0.5);

.dummy-container {
  align-items: center;
  background-color: c.$secondary-60;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  box-sizing: border-box;
  color: c.$neutral-10;
  cursor: not-allowed;
  display: flex;
  height: 68px;
  justify-content: space-around;
  margin-bottom: 0.5rem;
  padding: 10px 20px;
  width: 80%;

  .skeleton {
    background-color: c.$secondary-30;
    border-radius: $border-radius;
    height: 70%;
    width: 15%;
  }
}

.skeleton-small-wrap {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 70%;
  justify-content: space-around;
  width: 11%;

  .skeleton-small {
    background-color: c.$secondary-30;
    border-radius: $border-radius;
    height: 30%;
    width: 60%;
  }

  .skeleton-medium {
    background-color: c.$secondary-30;
    border-radius: $border-radius;
    height: 30%;
    width: 80%;
  }
}
