@use '../../../../scss/colors' as c;
@use '../../../../scss/fonts';
@use '../../../../scss/typography-mobile' as f;

$box-shadow: 0 4px 1px rgba(20, 20, 20, 0.5);
$border-radius: 8px;
$padding: 16px;
$separator: 2px solid c.$neutral-50;

.title {
  font-size: f.$display-03-size;
  font-weight: f.$display-03-weight;
  margin-bottom: 12px;
}

.container {
  background: c.$secondary-60;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  color: c.$primary-10;
  display: flex;
  justify-content: space-around;
  padding: $padding;
  width: 95%;

  .left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: 100%;
  }

  .separator {
    border-right: $separator;
    margin: 0 24px;
  }

  .right {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
  }
}

.right-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
