@use '../../../scss/colors' as c;

.container {
  background-color: c.$secondary-60;
  border-radius: 8px;
  box-shadow: 0 4px 1px rgba(20, 20, 20, 0.5);
  box-sizing: border-box;
  color: c.$neutral-10;
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  max-width: 100%;
  padding: 12px;
  text-align: center;
  width: 100%;

  p {
    margin: 0;
  }
}

.avatar {
  img {
    background-color: c.$primary-40;
    border-radius: 50px;
    height: 60px;
    width: 60px;
  }
}
