$background-color: #1f4459;
$white: #f8f9fa;

.container {
  background-color: $background-color;
  border-radius: 8px;
  box-shadow: 0 4px 1px rgba(20, 20, 20, 0.5);
  box-sizing: border-box;
  color: $white;
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  max-width: 100%;
  padding: 12px;
  text-align: center;

  p {
    margin: 0;
  }

  .avatarimg {
    height: 60px;
    width: 60px;
  }
}
