@use '../../../scss/colors' as c;

body {
  margin: 0;
  padding: 0;
}

.container {
  background-color: c.$neutral-90;
  background-image: url('../../../assets/bg-mobile-pattern.svg');
  min-height: 100vh;

  .header {
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9;

  &.ended {
    background-image: url('../../../assets/bgGold.svg');
  }

  .main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 76px 16px 12px;
  }

  .footer {
    align-items: flex-end;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding-bottom: 30px;
    width: 100%;
  }
}
