// TODO: use style-guide
$bg-color: #272727;

body {
  margin: 0;
  padding: 0;
}

.container {
  background-color: $bg-color;
  background-image: url('../../../assets/bg-mobile-pattern.svg');
  min-height: 100vh;

  .main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 12px 16px;
  }

  .footer {
    align-items: flex-end;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding-bottom: 30px;
    width: 100%;
  }
}
