@use './../../../scss/colors' as colors;
@use './../../../scss/typography-mobile' as t;

.container {
  align-items: center;
  color: colors.$neutral-30;
  display: flex;
  flex-direction: column;
  font-size: t.$medium-medium-size;
  font-weight: t.$medium-medium-weight;
  line-height: 26px;
  padding: 20px 0;

  p,
  span {
    margin: 0;
  }

  div {
    text-align: center;
  }

  .imgcontainer {
    height: 150px;
    position: relative;
    width: 175px;
  }

  .image {
    background-color: colors.$primary-40;
    border-radius: 50%;
    bottom: 0%;
    height: 120px;
    position: absolute;
    right: 14%;
    top: 10%;
    width: 120px;
  }

  .laurel {
    position: absolute;
    right: -7%;
    top: 29%;
  }

  .info {
    align-items: center;
    background-color: colors.$secondary-60;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    font-size: t.$small-bold-size;
    justify-content: space-between;
    letter-spacing: 0.2;
    line-height: 24px;
    margin: 10px auto;
    padding: 14px 24px;
    width: 200px;
  }

  .name {
    font-weight: t.$small-bold-weight;
  }
}
