@use './../scss/colors.scss' as c;

/* stylelint-disable */
.carousel-slider {
  .control-dots {
    top: 400px;
    .dot {
      height: 12px;
      width: 12px;
      border-radius: 3px;
      border-radius: 0px;
      background-color: c.$neutral-40;
      opacity: 100;
      margin: 0px 4px;
    }
    .selected {
      background: c.$neutral-60;
      opacity: 100;
    }
    button .control-arrow {
      top: -150px;
    }
  }
}

.carousel-root {
  background: c.$secondary-60;
}
/* stylelint-enable */
