@use './../scss/colors' as c;
/* stylelint-disable */

.react-select-container {
  color: c.$neutral-10;
  margin: 0 30px;

  .react-select__control {
    background-color: c.$primary-50;
    border: 2.5px solid c.$neutral-10;
    border-radius: 12px;
    padding: 2px 30px;

    .react-select__single-value {
      color: c.$neutral-10;
      font-weight: 700;
    }
    .react-select__indicators > .react-select__indicator-separator {
      display: none;
    }
  }
  .react-select__menu {
    border-radius: 12px;
    overflow: hidden;

    .react-select__menu-list {
      .react-select__option {
        background-color: c.$neutral-10;
        color: c.$neutral-70;
        font-weight: 700;
        padding: 10px 45px;
        text-align: left;
      }
    }
  }
}

/* stylelint-enable */