/* stylelint-disable */

$primary-color: #c74647;
$white-color: #F8F9FA;
$black-color: #495057;

.react-select-container {
  color: $white-color;
  margin: 0 30px;

  .react-select__control {
    background-color: $primary-color;
    border: 2.5px solid $white-color;
    border-radius: 12px;
    padding: 2px 30px;

    .react-select__single-value {
      color: $white-color;
      font-weight: 700;
    }
    .react-select__indicators > .react-select__indicator-separator {
      display: none;
    }
  }
  .react-select__menu {
    border-radius: 12px;
    overflow: hidden;

    .react-select__menu-list {
      .react-select__option {
        background-color: $white-color;
        color: $black-color;
        font-weight: 700;
        padding: 10px 45px;
        text-align: left;
      }
    }
  }
}

/* stylelint-enable */