@use '../../../scss/colors' as c;
@use '../../../scss/fonts';

$count-font-size: 135px;

.wrapper {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;

  .count {
    color: c.$primary-10;
    font-size: $count-font-size;
  }
}

:export {
  defaultsize: 235;
  linecolor: c.$primary-50;
  strokelinecap: 1;
  strokewidth: 25;
  trailcolor: transparent;
}
