// TODO: Update that with the style-guide
$count-font-size: 135px;
$color: #32527b;
$font-color: #fff;

.wrapper {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;

  .count {
    color: $font-color;
    font-size: $count-font-size;
  }
}

:export {
  defaultsize: 235;
  linecolor: $color;
  strokelinecap: 1;
  strokewidth: 25;
  trailcolor: transparent;
}
