@use '../../../scss/colors' as c;
@use '../../../scss/fonts';
@use '../../../scss/typography-movile' as f;

button {
  border: 2px solid c.$neutral-10;
  border-radius: 30px;
  box-shadow: 0 1px 0 c.$neutral-50;
  box-sizing: border-box;
  color: c.$neutral-10;
  font-family: 'Work Sans', sans-serif;
  font-size: f.$small-semibold-size;
  font-weight: f.$small-semibold-weight;
  letter-spacing: f.$small-semibold-spacing;
  line-height: f.$small-semibold-height;
  min-height: 44px;
  padding: 8px 16px;
}

.basic {
  background-color: c.$neutral-90;
  border: 0;
  box-shadow: 0 0;
}

.approved {
  background-color: c.$primary-50;

  &::before {
    color: c.$neutral-10;
    content: url('../../../assets/check.svg');
    margin-right: 11px;
  }
}

.deselected {
  background-color: c.$secondary-80;
  border: 2px solid c.$neutral-60;
}

.disapproved {
  background-color: c.$neutral-60;

  &::before {
    color: c.$neutral-10;
    content: '✖';
    margin-right: 11px;
  }
}

.uncheck {
  background-color: c.$primary-50;
}
