@use '../../../../scss/colors' as c;

.container {
  background-color: c.$neutral-10;
  border-radius: 50px;
  height: 8px;
  margin: 50;
  width: 100%;
}

.filler {
  background-color: c.$primary-50;
  border-radius: inherit;
  height: 100%;
  text-align: right;
  transition: width 0.1s ease-in-out;
}
