@use '../../../scss/colors' as c;
@use '../../../scss/fonts';
@use '../../../scss/typography-mobile' as f;

.card {
  background-color: c.$secondary-60;
  border-radius: 5px;
  box-shadow: 0 4px 1px rgba(20, 20, 20, 0.5);
  margin: auto;
  padding: 12px;
  width: 100%;

  * {
    display: block;
    margin: auto;
    text-align: center;
  }

  *:not(input) {
    color: c.$primary-10;
  }

  .title {
    font-size: f.$small-semibold-size;
    font-weight: f.$small-semibold-weight;
    line-height: f.$display-03-height;
  }

  .subtitle {
    font-size: f.$small-medium-size;
    font-weight: f.$small-medium-weight;
    line-height: f.$small-medium-height;
    margin-bottom: 20px;
  }
}
