@use '../../scss/colors' as c;
@use '../../scss/typography-mobile' as f;
@use '../../scss/fonts';

.container {
  background-image: url('../../assets/bg-mobile-blue.png');
  background-size: cover;
  color: c.$neutral-10;
  min-height: 600px;
  padding-bottom: 30px;

  .header {
    align-items: center;
    background-color: c.$neutral-90;
    box-shadow: 0 1px 0 #6b7278;
    display: flex;
    flex-direction: row;
    font-size: f.$display-02-size;
    height: 20px;
    justify-content: flex-start;
    margin-bottom: 30px;
    padding: 24px 24px 24px 16px;
  }
}

.title {
  padding-left: 28px;
}

.project {
  background-color: c.$secondary-60;
  border-radius: 8px;
  font-size: f.$small-medium-size;
  height: 336px;
  margin: auto;
  padding: 12px 16px 16px;
  width: 328px;

  h4 {
    font-size: f.$display-03-size;
    font-weight: f.$display-03-weight;
    line-height: f.$display-03-height;
    margin: 0;
  }

  p {
    font-size: f.$small-medium-size;
    font-weight: f.$small-medium-weight;
    letter-spacing: 0.2px;
    line-height: 24px;
  }

  span {
    font-weight: f.$small-bold-weight;
  }

  .stop {
    text-transform: uppercase;
  }
}
