@use './../../../scss/colors' as colors;
@use './../../../scss/typography-mobile' as t;

.container {
  align-items: center;
  background-color: colors.$secondary-60;
  border-radius: 8px;
  color: colors.$neutral-30;
  display: flex;
  flex-direction: row;
  font-size: t.$small-bold-size;
  font-weight: t.$medium-medium-weight;
  justify-content: space-between;
  letter-spacing: 0.2;
  line-height: 24px;
  margin: 10px auto;
  padding: 8px 20px 8px 16px;
  width: 292px;

  .description {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .description > p {
    margin: 0;
  }

  .image {
    background-color: colors.$primary-40;
    border-radius: 50%;
    height: 60px;
    margin-right: 16px;
    width: 60px;
  }

  .name {
    font-weight: t.$small-bold-weight;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 170px;
  }

  .info {
    display: flex;
  }

  .position {
    font-size: t.$display-02-size;
  }
}

.selected {
  background: colors.$secondary-40;
  border: 2px solid colors.$neutral-10;
}
