@use '../../../scss/colors' as c;
@use '../../../scss/typography-movile' as f;

$box-shadow: 0 4px 1px rgba(20, 20, 20, 0.5);
$border-radius: 4px;

.container {
  align-items: center;
  background-color: c.$secondary-60;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  box-sizing: border-box;
  color: c.$neutral-10;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  margin-bottom: 0.5rem;
  padding: 10px 20px;
  width: 80%;

  &:hover {
    background-color: c.$secondary-40;
  }
}

.label-wrap {
  position: relative;
}

.title {
  font-size: f.$medium-bold-button-size;
  font-weight: f.$medium-bold-button-weight;
  line-height: f.$medium-bold-button-height;
}

.lock-icon {
  position: absolute;
  right: -2rem;
  top: -15%;
}

.user-icon {
  display: flex;
  font-weight: f.$medium-bold-button-weight;
  justify-content: space-between;

  .user-label {
    margin-left: 0.5rem;
  }
}

.rounds {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: f.$small-bold-size;
  font-weight: f.$small-bold-weight;
  line-height: f.$medium-medium-height;

  .round-label {
    color: c.$neutral-30;
    font-weight: f.$medium-semibold-weight;
  }
}
