.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;

  .categories {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
    margin-top: 20px;
    width: 70%;

    /* stylelint-disable-next-line max-nesting-depth */
    button {
      margin: 0;
    }
  }
}
