@use '../../../scss/colors' as c;
@use '../../../scss/fonts';
@use '../../../scss/typography-mobile' as f;

.button {
  align-items: center;
  border-radius: 12px;
  box-sizing: border-box;
  color: c.$neutral-10;
  cursor: pointer;
  display: flex;
  font-size: f.$medium-bold-button-size;
  font-weight: f.$medium-bold-button-weight;
  gap: 16px;
  justify-content: center;
  letter-spacing: f.$medium-bold-button-spacing;
  line-height: f.$medium-bold-button-height;
  outline: none;
  text-transform: uppercase;
}

/* Size */
.small {
  font-size: f.$small-bold-button-small-size;
  font-weight: f.$small-bold-button-small-weight;
  letter-spacing: f.$small-bold-button-small-spacing;
  line-height: f.$small-bold-button-small-height;
  padding: 1em 1.3em;
}

.medium {
  padding: 1em 4em;
}

.large {
  height: 52px;
  max-width: 320px;
  padding: 16px;
  width: 100%;
}

/* Theme */
.primary {
  background: c.$primary-50;
  border: 2px solid c.$primary-80;
  box-shadow: 0 4px c.$primary-80;

  &:active {
    box-shadow: 0 1px c.$primary-80;
    transform: translateY(4px);
  }
}

.secondary {
  background: c.$neutral-90;
  border: 2px solid c.$neutral-10;
  box-shadow: 0 4px 0 c.$neutral-10;

  &:active {
    box-shadow: 0 1px c.$neutral-10;
    transform: translateY(4px);
  }
}

.tertiary {
  background: c.$neutral-10;
  border: 2px solid c.$neutral-10;
  box-shadow: 0 4px 0 c.$neutral-60;
  color: c.$neutral-90;

  &:active {
    box-shadow: 0 1px c.$neutral-60;
    transform: translateY(4px);
  }
}

.board {
  margin-right: 14px;
}
