$font-size: 0.9em;
$weight: 600;
$white-color: #f8f9fa;
$black-color: #272727;
$shadow-primary-color: #672829;
$shadow-secondary-color: #f8f9fa;
$shadow-tertiary-color: #6b7278;
$primary-color: #c74647;
$secondary-color: #272727;
$tertiary-color: #f8f9fa;
$font-color: #f8f9fa;
$grey-2: #919191;
$grey-3: #dadada;
$grey-4: #ededed;

.button {
  align-items: center;
  border-radius: 12px;
  box-sizing: border-box;
  color: $font-color;
  cursor: pointer;
  display: flex;
  font-size: $font-size;
  font-weight: $weight;
  justify-content: center;
  outline: none;
  text-transform: uppercase;
}

/* Size */
.small {
  padding: 1em 1.3em;
}

.medium {
  padding: 1em 4em;
}

/* Theme */
.primary {
  background: $primary-color;
  border: 2px solid $shadow-primary-color;
  box-shadow: 0 4px $shadow-primary-color;

  &:active {
    box-shadow: 0 1px $shadow-primary-color;
    transform: translateY(4px);
  }
}

.secondary {
  background: $secondary-color;
  border: 2px solid $shadow-secondary-color;
  box-shadow: 0 4px 0 $shadow-secondary-color;

  &:active {
    box-shadow: 0 1px $shadow-secondary-color;
    transform: translateY(4px);
  }
}

.tertiary {
  background: $tertiary-color;
  border: 2px solid $white-color;
  box-shadow: 0 4px 0 $shadow-tertiary-color;
  color: $black-color;

  &:active {
    box-shadow: 0 1px $shadow-tertiary-color;
    transform: translateY(4px);
  }
}
