//TODO update with UI kit global variables
$primary-50: #c74647;
$neutral-color: #f8f9fa;
$label-color: #6b7278;
$label-active-color: #f8f9fa;
$input-border-radius: 10px;
$font-size: 20px;
$line-height: 28px;
$background-color: #17252e;
$font-w: 600;
$font-s: 18px;

.header {
  color: $label-active-color;
  font-size: $font-size;
  line-height: $line-height;
  text-align: center;
}

.container {
  align-items: center;
  background-color: $background-color;
  display: flex;
  flex-direction: column;
  padding: 2rem;

  .slider {
    width: 100%;
  }
}

.labels {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  position: relative;
  width: 100%;

  .label {
    color: $label-color;
    cursor: pointer;
    font-size: $font-s;
    font-weight: $font-w;
    left: 0;
  }

  .active {
    color: $label-active-color;
  }
}

.thumb {
  align-items: center;
  background-color: $primary-50;
  border: 3px solid $neutral-color;
  border-radius: 50%;
  display: flex;
  height: 20px;
  justify-content: center;
  outline: none;
  width: 20px;
}

.progress {
  align-self: 'center';
  border-radius: $input-border-radius;
  height: 5px;
  width: 100%;
}

.track {
  display: flex;
  height: 20px;
  width: 100%;
}

:export {
  neutral-color: $neutral-color;
  primary-color: $primary-50;
}
