@use '../../../../scss/colors' as c;
@use '../../../../scss/typography-mobile' as f;

$border: 3px solid c.$neutral-10;
$border-radius: 10px;
$font-size: 24px;

.container {
  background-color: c.$neutral-90;
  border: $border;
  border-radius: $border-radius;
  color: c.$neutral-10;
  font-size: $font-size;
  font-weight: f.$medium-bold-button-weight;
  line-height: 28px;
  padding: 4px 14px;
}
