@use '../../../scss/colors' as c;
@use '../../../scss/typography-movile.scss' as f;
@use '../../../scss/fonts';

.container {
  align-items: center;
  background-color: c.$secondary-60;
  border-radius: 8px;
  box-shadow: 0 4px 1px rgba(20, 20, 20, 0.5);
  display: flex;
  flex-direction: column;
  font-family: 'Work Sans', sans-serif;
  margin: 20px auto;
  min-height: 370px;
  padding: 16px;
  width: 328px;

  .imgcard {
    border-radius: 50%;
    height: 100px;
    overflow: hidden;
    width: 100px;
  }

  h3 {
    font-size: f.$display-02-size;
    font-style: normal;
    font-weight: f.$display-02-weight;
    letter-spacing: f.$display-02-spacing;
    line-height: f.$display-02-height;
    margin: 10px 0 0;
    text-align: center;
  }

  p {
    font-size: f.$small-medium-size;
    font-style: normal;
    font-weight: f.$small-medium-weight;
    letter-spacing: 0.3px;
    line-height: 24px;
  }

  .job {
    color: c.$neutral-30;
    margin: 0;
  }

  .description {
    letter-spacing: f.$small-medium-spacing;
    margin: 0;
  }

  .icon {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 25px;
    width: 200px;
  }
}
