@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');
//variables
$secundary-60: #1f4459;
$font-medium: 'work sans', sans-serif;
$weight-500: 500;
$font-small: 16px;
$font-size-02: 22px;

.container {
  align-items: center;
  background-color: $secundary-60;
  border-radius: 8px;
  box-shadow: 0 4px 1px rgba(20, 20, 20, 0.5);
  display: flex;
  flex-direction: column;
  font-family: $secundary-60;
  margin: 20px auto;
  min-height: 370px;
  padding: 16px;
  width: 328px;

  .imgcard {
    border-radius: 50%;
    height: 100px;
    overflow: hidden;
    width: 100px;
  }

  h3 {
    font-size: $font-size-02;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.3px;
    line-height: 30px;
    margin: 10px 0 0;
    text-align: center;
  }

  p {
    font-size: $font-small;
    font-style: normal;
    font-weight: $weight-500;
    letter-spacing: 0.3px;
    line-height: 24px;
  }

  .job {
    margin: 0;
  }

  .description {
    margin: 0;
  }

  .icon {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 25px;
    width: 200px;
  }
}
