
@use '../../../scss/colors' as c;

$size: 60px;
$weight: 400;
$coloursred: #f00;
$spacing: -0.05em;
$shadow: -11px 15px 4px c.$neutral-110;

.letra {
  align-items: center;
  color: c.$primary-10;
  display: flex;
  font-size: $size;
  font-style: normal;
  font-weight: $weight;
  letter-spacing: $spacing;
  line-height: 50px;
  text-align: center;
  text-shadow: -6px 8px 1px #000;
  -webkit-text-stroke: 4px $coloursred;
  transition: all 0.6s;

  div {
    font-family: 'Titan One', cursive;
  }

  &:hover {
    color: c.$primary-10;
    text-shadow: $shadow;
    -webkit-text-stroke: 4px $coloursred;
  }
}
