
@use '../../../scss/colors' as c;

$weight: 400;
$spacing: -0.05em;
$shadow: -11px 15px 4px c.$neutral-110;

.letra {
  align-items: center;
  color: #fff1f1;
  display: flex;
  font-size: 57px;
  font-style: normal;
  letter-spacing: -4px;
  line-height: 52px;
  text-align: center;
  text-shadow: -6px 8px 1px #000;
  -webkit-text-stroke: 4px c.$primary-50;
  transition: all 0.6s;

  div {
    font-family: 'Titan One', cursive;
  }

  &:hover {
    color: c.$primary-10;
    text-shadow: $shadow;
    -webkit-text-stroke: 4px c.$primary-50;
  }
}
