$primary-10: #fff1f1;
$primary-20: #febabb;
$primary-30: #fd8384;
$primary-40: #f15362;
$primary-50: #c74647;
$primary-60: #9c3d3d;
$primary-70: #803232;
$primary-80: #672829;

$secondary-10: #daecf7;
$secondary-20: #7da2b7;
$secondary-30: #6c86a8;
$secondary-40: #32527b;
$secondary-50: #254a69;
$secondary-60: #1f4459;
$secondary-70: #243138;
$secondary-80: #013231;
$secondary-90: #17252e;

$neutral-10: #f8f9fa;
$neutral-20: #e9ecef;
$neutral-30: #dee2e6;
$neutral-40: #ced4da;
$neutral-50: #adb5bd;
$neutral-60: #6b7278;
$neutral-70: #495057;
$neutral-80: #343a40;
$neutral-90: #272727;
$neutral-100: #222;
$neutral-110: #1b1b1b;

/* Revisar */
$opacity-10-80perc: rgba(248, 249, 250, 0.8);
$opacity-90-80perc: rgba(39, 39, 39, 0.8);
$opacity-100-80perc: rgba(20, 20, 20, 0.8);
$opacity-100-97perc: rgba(20, 20, 20, 0.97);
