/* Display */

$display-01-size: 32px;
$display-01-weight: 800;
$display-01-height: 36px;
$display-01-spacing: 0.5px;

$display-02-size: 22px;
$display-02-weight: 800;
$display-02-height: 30px;
$display-02-spacing: 0.5px;

$display-03-size: 20px;
$display-03-weight: 700;
$display-03-height: 28px;
$display-03-spacing: 0.3px;

/* Medium */

$medium-bold-size: 18px;
$medium-bold-weight: 700;
$medium-bold-height: 26px;
$medium-bold-spacing: 0;

$medium-bold-button-size: 18px;
$medium-bold-button-weight: 700;
$medium-bold-button-height: 26px;
$medium-bold-button-spacing: 0.3px;

$medium-bold-underline-size: 18px;
$medium-bold-underline-weight: 700;
$medium-bold-underline-height: 26px;
$medium-bold-underline-spacing: 0.3px;
$medium-bold-underline-decoration: underline;

$medium-semibold-size: 18px;
$medium-semibold-weight: 600;
$medium-semibold-height: 26px;
$medium-semibold-spacing: 0;

$medium-medium-size: 18px;
$medium-medium-weight: 500;
$medium-medium-height: 26px;
$medium-medium-spacing: 0.3px;

/* Small */

$small-bold-size: 16px;
$small-bold-weight: 700;
$small-bold-height: 24px;
$small-bold-spacing: 0.2px;

$small-bold-button-small-size: 16px;
$small-bold-button-small-weight: 700;
$small-bold-button-small-height: 24px;
$small-bold-button-small-spacing: 0.4px;

$small-semibold-size: 16px;
$small-semibold-weight: 600;
$small-semibold-height: 24px;
$small-semibold-spacing: 0;

$small-medium-size: 16px;
$small-medium-weight: 500;
$small-medium-height: 24px;
$small-medium-spacing: 0;

/* X-Small */

$xsmall-semibold-size: 14px;
$xsmall-semibold-weight: 600;
$xsmall-semibold-height: 18px;
$xsmall-semibold-spacing: 0;

$xsmall-medium-size: 12px;
$xsmall-medium-weight: 500;
$xsmall-medium-height: 18px;
$xsmall-medium-spacing: 0;

/* XX-Small */

$xsmall-semibold-size: 12px;
$xsmall-semibold-weight: 600;
$xsmall-semibold-height: 16px;
$xsmall-semibold-spacing: 0;
