@use '../../../scss/colors' as c;
@use '../../../scss/fonts';

$title-size: 20px;
$description-size: 16px;
$image-padding: 16px;

body {
  margin: 0;
}

.slide {
  .image {
    font-family: 'Work Sans', sans-serif;
    height: 60vh;
    padding: $image-padding;
  }

  .title {
    color: c.$neutral-10;
    font-size: $title-size;
    height: 10vh;
    padding-top: 7vh;
  }

  .description {
    color: c.$neutral-10;
    font-size: $description-size;
    height: 10vh;
  }
}
