// TODO: use style-guide
$bg-color: #272727;
$color: #f8f9fa;
$size: 22px;
$weight-bold: 700;
$size-sub: 18px;
$weight-medium: 500;
$font-size: 24px;

.header {
  align-items: center;
  background-color: $bg-color;
  box-shadow: 0 4px 1px rgba(20, 20, 20, 0.5);
  display: grid;
  grid-template-columns: 72px 1fr;
  height: 64px;
  width: 100%;

  .close {
    justify-self: center;
  }

  .title {
    color: $color;
    font-size: $size;
    font-weight: $weight-bold;
    line-height: 30px;
    margin: 0;
  }

  .subtitle {
    color: $color;
    font-size: $size-sub;
    font-weight: $weight-medium;
    line-height: 26px;
  }
}

.lettercontainer {
  display: flex;
  justify-content: center;
  transform: translateX(-37px);

  .letter {
    background: $bg-color;
    border: 3px solid $color;
    border-radius: 10px;
    box-sizing: border-box;
    color: $color;
    display: grid;
    font-size: $font-size;
    font-weight: $weight-bold;
    padding: 10.0024px 14px;
    place-items: center;
  }
}
