@use '../../../scss/colors' as c;
@use '../../../scss/typography-mobile.scss' as f;
@use '../../../scss/fonts';

$size: 22px;
$weight-bold: 700;
$size-sub: 18px;
$weight-medium: 500;
$font-size: 24px;

.header {
  align-items: center;
  background-color: c.$neutral-90;
  box-shadow: 0 4px 1px rgba(20, 20, 20, 0.5);
  display: grid;
  grid-template-columns: 72px 1fr;
  height: 64px;
  width: 100%;

  .close {
    justify-self: center;
  }

  .title {
    color: c.$neutral-10;
    font-size: f.$display-02-size;
    font-weight: f.$display-02-weight;
    line-height: f.$display-02-height;
    margin: 0;
  }

  .subtitle {
    color: c.$neutral-10;
    font-size: f.$medium-medium-size;
    font-weight: f.$medium-medium-weight;
    line-height: f.$medium-medium-height;
  }

  .board {
    border-radius: 16px;
    margin-left: 7px;
    margin-right: 13px;
    margin-top: 16px;
    padding: 16px;
  }
}

.lettercontainer {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
  transform: translateX(-37px);

  .letter {
    background: c.$neutral-90;
    border: 3px solid c.$neutral-10;
    border-radius: 10px;
    box-sizing: border-box;
    color: c.$neutral-10;
    display: grid;
    font-size: $font-size;
    font-weight: $weight-bold;
    padding: 10.0024px 14px;
    place-items: center;
  }
}

.letterboard {
  padding-left: 75px;
  padding-top: 20px;
}
